In [1]:
import os
from datetime import datetime
import pyspark.sql.functions as F
import pyspark.sql.types as T
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("sparkify_etl").config("spark.sql.session.timeZone", "UTC")\
                            .master("local").getOrCreate()

## First, Let us check the schema for log data files

In [59]:
file_path = os.path.join("data","log-data")
data_log = spark.read.json(file_path)
data_log = data_log.where(F.col("page")=="NextSong")
data_log.printSchema()
data_log.limit(2).toPandas()

# Observation
# 1. itemInSession can be integer
# 2. timestamp column can be datetime

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26

## We will check schema and explore song data files next

In [60]:
file_path = os.path.join("data","song_data","*","*","*")
data_song = spark.read.json(file_path)
data_song.printSchema()

# Since there's one record per song file, we don't need to use limit
data_song.limit(5).toPandas()

# Observation
#lat,long can be double

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARDR4AC1187FB371A1,NaN,,NaN,Montserrat Caball√©;Placido Domingo;Vicente Sar...,511.16363,1,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,0
1,AREBBGV1187FB523D2,NaN,"Houston, TX",NaN,Mike Jones (Featuring CJ_ Mello & Lil' Bran),173.66159,1,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),0
2,ARMAC4T1187FB3FA4C,40.82624,"Morris Plains, NJ",-74.47995,The Dillinger Escape Plan,207.77751,1,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,2004
3,ARPBNLO1187FB3D52F,40.71455,"New York, NY",-74.00712,Tiny Tim,43.36281,1,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,2000
4,ARDNS031187B9924F0,32.67828,Georgia,-83.22295,Tim Wilson,186.48771,1,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,2005

## Let's first create the user table

In [61]:
#user_id, first_name, last_name, gender, level

df_user = data_log.select("userId","firstName","lastName","gender","level")

# User sql expression to cast specific columns
df_user = df_user.withColumn("userId",F.expr("cast(userId as long) userId"))
df_user.printSchema()
df_user.limit(5).toPandas()

root
 |-- userId: long (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

   userId firstName  lastName gender level
0      26      Ryan     Smith      M  free
1      26      Ryan     Smith      M  free
2      26      Ryan     Smith      M  free
3      61    Samuel  Gonzalez      M  free
4      80     Tegan    Levine      F  paid

## Next we will create songs table

In [62]:
#song_id, title, artist_id, year, duration

df_song = data_song.select("song_id","title","artist_id","year","duration")
df_song = df_song.withColumn("year",F.col("year").cast(T.IntegerType()))
df_song.printSchema()
df_song.toPandas()

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- duration: double (nullable = true)

,song_id,title,artist_id,year,duration
0,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,ARDR4AC1187FB371A1,0,511.16363
1,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),AREBBGV1187FB523D2,0,173.66159
2,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,ARMAC4T1187FB3FA4C,2004,207.77751
3,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,ARPBNLO1187FB3D52F,2000,43.36281
4,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,ARDNS031187B9924F0,2005,186.48771
5,SONWXQJ12A8C134D94,The Ballad Of Sleeping Beauty,ARNF6401187FB57032,1994,305.16200
6,SODREIN12A58A7F2E5,A Whiter Shade Of Pale (Live @ Fillmore West),ARLTWXK1187FB5A3F8,0,326.00771
7,SOWQTQZ12A58A7B63E,Streets On Fire (Explicit Album Version),ARPFHN61187FB575F6,0,279.97995
8,SODUJBS12A8C132150,Wessex Loses a Bride,ARI2JSK1187FB496EF,0,111.62077
9,SOGXHEG12AB018653E,It Makes No Difference Now,AR0RCMP1187FB3F427,1992,133.32853
10,SOBZBAZ12A6D4F8742,Spanish Grease,AROUOZZ1187B9ABE51,1997,168.25424
11,SOZHPGD12A8C1394FE,Baby Come To Me,AR9AWNF1187B9AB0B4,0,236.93016
12,SOBLGCN12AB0183212,James (Hold The Ladder Steady),AR47JEX1187B995D81,1985,124.86485
13,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),ARKFYS91187B98E58F,0,267.70240
14,SOHKNRJ12A6701D1F8,Drop of Rain,AR10USD1187B99F3F1,0,189.57016
15,SOGNCJP12A58A80271,Do You Finally Need A Friend,ARB29H41187B98F0EF,1972,342.56934
16,SOWTBJW12AC468AC6E,Broken-Down Merry-Go-Round,ARQGYP71187FB44566,0,151.84934
17,SOTTDKS12AB018D69B,It Wont Be Christmas,ARMBR4Y1187B9990EB,0,241.47546
18,SOFFKZS12AB017F194,A Higher Place (Album Version),ARBEBBY1187B9B43DB,1994,236.17261
19,SOBKWDJ12A8C13B2F3,Wild Rose (Back 2 Basics Mix),AR36F9J1187FB406F1,0,230.71302
20,SOBONFF12A6D4F84D8,Tonight Will Be Alright,ARIK43K1187B9AE54C,1986,307.38240
21,SOHUOAP12A8AE488E9,Floating,ARD842G1187B997376,1987,491.12771
22,SOMVWWT12A58A7AE05,Knocked Out Of The Park,ARQ9BO41187FB5CF1F,0,183.17016
23,SOPVXLX12A8C1402D5,Larger Than Life,AR3JMC51187B9AE49D,1999,236.25098
24,SOQOTLQ12AB01868D0,Clementina Santaf√®,ARGCY1Y1187B9A4FA5,0,153.33832
25,SOVYKGO12AB0187199,Crazy Mixed Up World,ARH4Z031187B9A71F2,1961,156.39465
26,SOOJPRH12A8C141995,Loaded Like A Gun,ARBGXIG122988F409D,0,173.19138
27,SOFNOQK12AB01840FC,Kutt Free (DJ Volume Remix),ARNNKDK1187B98BBD5,0,407.37914
28,SOYTPEP12AB0180E7B,Twist and Shout,ARAJPHH1187FB5566A,1964,164.80608
29,SOQHXMF12AB0182363,Young Boy Blues,ARGSJW91187B9B1D6B,0,218.77506
...,...,...,...,...,...
41,SOBEBDG12A58A76D60,Kassie Jones,ARI3BMM1187FB4255E,0,220.78649
42,SONSKXP12A8C13A2C9,Native Soul,AR0IAWL1187B9A96D0,2003,197.19791
43,SOMZWCG12A8C13C480,I Didn't Mean To,ARD7TVE1187B99BFB1,0,218.93179
44,SODAUVL12A8C13D184,Prognosis,ARWB3G61187FB49404,2000,363.85914
45,SOFCHDR12AB01866EF,Living Hell,AREVWGE1187B9B890A,0,282.43546
46,SOUDSGM12AC9618304,Insatiable (Instrumental Version),ARNTLGG11E2835DDB9,0,266.39628
47,SOZCTXZ12AB0182364,Setanta matins,AR5KOSW1187FB35FF4,0,269.58322
48,SOPSWQW12A6D4F8781,Made Like This (Live),ARGIWFO1187B9B55B7,0,225.09669
49,SOILPQQ12AB017E82A,Sohna Nee Sohna Data,AR1ZHYZ1187FB3C717,0,599.24853
50,SOMJBYD12A6D4F8557,Keepin It Real (Skit),ARD0S291187B9B7BF5,0,114.78159
51,SOXVLOJ12AB0189215,Amor De Cabaret,ARKRRTF1187B9984DA,0,177.47546
52,SOQVMXR12A81C21483,Salt In NYC,ARKULSX1187FB45F84,0,424.12363
53,SOSWKAV12AB018FC91,Midnight Star,ARULZCI1241B9C8611,0,335.51628
54,SOUPIRU12A6D4FA1E1,Der Kleine Dompfaff,ARJIE2Y1187B994AB7,0,152.92036
55,SOIAZJW12AB01853F1,Pink World,AR8ZCNI1187B9A069B,1984,269.81832
56,SOBCOSW12A8C13D398,Rumba De Barcelona,AR7SMBG1187B9B9066,0,218.38322
57,SORRZGD12A6310DBC3,Harajuku Girls,ARVBRGZ1187FB4675A,2004,290.55955
58,SOQLGFP12A58A7800E,OAKtown,ARD7TVE1187B99BFB1,0,259.44771
59,SOINLJW12A8C13314C,City Slickers,AR8IEZO1187B99055E,2008,149.86404
60,SOSLAVG12A8C13397F,Den Pai Alo,AROGWRA122988FEE45,0,243.82649
61,SOGVQGJ12AB017F169,Ten Tonne,AR62SOJ1187FB47BB5,2005,337.68444
62,SOLYIBD12A8C135045,Music is what we love,AR051KA1187B98B2FF,0,261.51138
63,SOXLBJT12A8C140925,Caught In A Dream,ARYKCQI1187FB3B18F,2004,290.29832
64,SOZVMJI12AB01808AF,Synthetic Dream,ARNPAGP1241B9C7FD4,0,165.69424
65,SORAMLE12AB017C8B0,Auguri Cha Cha,ARHHO3O1187B989413,0,191.84281
66,SOTUKVB12AB0181477,Blessed Assurance,AR7ZKHQ1187B98DD73,1993,270.60200
67,SOFSOCN12A8C143F5D,Face the Ashes,ARXR32B1187FB57099,2007,209.60608
68,SOZQDIU12A58A7BCF6,Superconfidential,ARNTLGG11E2835DDB9,0,338.31138
69,SOMUYGI12AB0188633,La Culpa,ARL7K851187B99ACD2,0,226.35057
70,SOGDBUF12A8C140FAA,Intro,AR558FS1187FB45658,2003,75.67628

## Artist Table will be created from song data as well

In [63]:
# artist_id, name, location, lattitude, longitude

df_artist = data_song.select("artist_id","artist_name","artist_location","artist_latitude","artist_longitude")
df_artist = df_artist.withColumn("artist_latitude",F.col("artist_latitude").cast(T.DecimalType()))
df_artist = df_artist.withColumn("artist_longitude",F.col("artist_longitude").cast(T.DecimalType()))
df_artist.printSchema()
df_artist.toPandas()

root
 |-- artist_id: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_latitude: decimal(10,0) (nullable = true)
 |-- artist_longitude: decimal(10,0) (nullable = true)

,artist_id,artist_name,artist_location,artist_latitude,artist_longitude
0,ARDR4AC1187FB371A1,Montserrat Caball√©;Placido Domingo;Vicente Sar...,,None,None
1,AREBBGV1187FB523D2,Mike Jones (Featuring CJ_ Mello & Lil' Bran),"Houston, TX",None,None
2,ARMAC4T1187FB3FA4C,The Dillinger Escape Plan,"Morris Plains, NJ",41,-74
3,ARPBNLO1187FB3D52F,Tiny Tim,"New York, NY",41,-74
4,ARDNS031187B9924F0,Tim Wilson,Georgia,33,-83
5,ARNF6401187FB57032,Sophie B. Hawkins,"New York, NY [Manhattan]",41,-74
6,ARLTWXK1187FB5A3F8,King Curtis,"Fort Worth, TX",33,-97
7,ARPFHN61187FB575F6,Lupe Fiasco,"Chicago, IL",42,-88
8,ARI2JSK1187FB496EF,Nick Ingman;Gavyn Wright,"London, England",52,0
9,AR0RCMP1187FB3F427,Billie Jo Spears,"Beaumont, TX",30,-94
10,AROUOZZ1187B9ABE51,Willie Bobo,"New York, NY [Spanish Harlem]",41,-74
11,AR9AWNF1187B9AB0B4,Kenny G featuring Daryl Hall,"Seattle, Washington USA",None,None
12,AR47JEX1187B995D81,SUE THOMPSON,"Nevada, MO",38,-94
13,ARKFYS91187B98E58F,Jeff And Sheri Easter,,None,None
14,AR10USD1187B99F3F1,Tweeterfriendly Music,"Burlington, Ontario, Canada",None,None
15,ARB29H41187B98F0EF,Terry Callier,Chicago,42,-88
16,ARQGYP71187FB44566,Jimmy Wakely,"Mineola, AR",34,-94
17,ARMBR4Y1187B9990EB,David Martin,California - SF,38,-122
18,ARBEBBY1187B9B43DB,Tom Petty,"Gainesville, FL",None,None
19,AR36F9J1187FB406F1,Bombay Rockers,Denmark,56,10
20,ARIK43K1187B9AE54C,Lionel Richie,"Beverly Hills, CA",None,None
21,ARD842G1187B997376,Blue Rodeo,"Toronto, Ontario, Canada",44,-79
22,ARQ9BO41187FB5CF1F,John Davis,Pennsylvania,41,-78
23,AR3JMC51187B9AE49D,Backstreet Boys,"Orlando, FL",29,-81
24,ARGCY1Y1187B9A4FA5,Gloriana,"Nashville, TN.",36,-87
25,ARH4Z031187B9A71F2,Faye Adams,"Newark, NJ",41,-74
26,ARBGXIG122988F409D,Steel Rain,California - SF,38,-122
27,ARNNKDK1187B98BBD5,Jinx,Zagreb Croatia,46,16
28,ARAJPHH1187FB5566A,The Shangri-Las,"Queens, NY",41,-74
29,ARGSJW91187B9B1D6B,JennyAnyKind,North Carolina,35,-80
...,...,...,...,...,...
41,ARI3BMM1187FB4255E,Alice Stuart,Washington,39,-77
42,AR0IAWL1187B9A96D0,Danilo Perez,Panama,8,-80
43,ARD7TVE1187B99BFB1,Casual,California - LA,None,None
44,ARWB3G61187FB49404,Steve Morse,"Hamilton, Ohio",None,None
45,AREVWGE1187B9B890A,Bitter End,Noci (BA),-13,-42
46,ARNTLGG11E2835DDB9,Clp,,None,None
47,AR5KOSW1187FB35FF4,Elena,Dubai UAE,50,15
48,ARGIWFO1187B9B55B7,Five Bolt Main,,None,None
49,AR1ZHYZ1187FB3C717,Faiz Ali Faiz,,None,None
50,ARD0S291187B9B7BF5,Rated R,Ohio,None,None
51,ARKRRTF1187B9984DA,Sonora Santanera,,None,None
52,ARKULSX1187FB45F84,Trafik,Utah,39,-112
53,ARULZCI1241B9C8611,Luna Orbit Project,,None,None
54,ARJIE2Y1187B994AB7,Line Renaud,,None,None
55,AR8ZCNI1187B9A069B,Planet P Project,,None,None
56,AR7SMBG1187B9B9066,Los Manolos,,None,None
57,ARVBRGZ1187FB4675A,Gwen Stefani,,None,None
58,ARD7TVE1187B99BFB1,Casual,California - LA,None,None
59,AR8IEZO1187B99055E,Marc Shaiman,,None,None
60,AROGWRA122988FEE45,Christos Dantis,,None,None
61,AR62SOJ1187FB47BB5,Chase & Status,,None,None
62,AR051KA1187B98B2FF,Wilks,,None,None
63,ARYKCQI1187FB3B18F,Tesla,,None,None
64,ARNPAGP1241B9C7FD4,lextrical,,None,None
65,ARHHO3O1187B989413,Bob Azzam,,None,None
66,AR7ZKHQ1187B98DD73,Glad,,None,None
67,ARXR32B1187FB57099,Gob,,None,None
68,ARNTLGG11E2835DDB9,Clp,,None,None
69,ARL7K851187B99ACD2,Andy Andy,,None,None
70,AR558FS1187FB45658,40 Grit,,None,None

## Our next dimension Table would be of Time where we'd split "ts" timestamp col further to      granular level

In [64]:
# start_time, hour, day, week, month, year, weekday

df_time = data_log.select("ts")
time_format = "yyyy-MM-dd' 'HH:mm:ss.SSS"


#func = F.udf("start_time")
df_time = df_time.withColumn("start_time", \
                             F.to_utc_timestamp(F.from_unixtime(F.col("ts")/1000,format=time_format),tz="UTC"))
df_time = df_time.withColumn("hour",F.hour(F.col("start_time")))
df_time = df_time.withColumn("day",F.dayofmonth(F.col("start_time")))
df_time = df_time.withColumn("week",F.weekofyear(F.col("start_time")))
df_time = df_time.withColumn("month",F.month(F.col("start_time")))
df_time = df_time.withColumn("year",F.year(F.col("start_time")))
df_time = df_time.withColumn("weekday",F.dayofweek(F.col("start_time")))

df_time.printSchema()
df_time.limit(2).toPandas()

root
 |-- ts: long (nullable = true)
 |-- start_time: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

              ts          start_time  hour  day  week  month  year  weekday
0  1542241826796 2018-11-15 00:30:26     0   15    46     11  2018        5
1  1542242481796 2018-11-15 00:41:21     0   15    46     11  2018        5

## Now that we've created all DIMENSIONAL tables let us proceed for the FACTS table creation

### In order to create facts table, we have to perform joins

#### SQL syntax is better for longer join queries, but the same can be replicated using spark dataframe operations

In [65]:
# songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent
#TODO : Partition by specific keys before uploading to S3 as parquet

df_song_play = data_song.join(data_log,data_song.title==data_log.song, how="inner").\
                    select("userId","level","song_id","artist_id","sessionId","location","userAgent")
df_song_play.printSchema()
df_song_play.limit(2).toPandas()

root
 |-- userId: string (nullable = true)
 |-- level: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- location: string (nullable = true)
 |-- userAgent: string (nullable = true)

,userId,level,song_id,artist_id,sessionId,location,userAgent
0,15,paid,SOZCTXZ12AB0182364,AR5KOSW1187FB35FF4,818,"Chicago-Naperville-Elgin, IL-IN-WI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."
1,10,free,SOGDBUF12A8C140FAA,AR558FS1187FB45658,484,"Washington-Arlington-Alexandria, DC-VA-MD-WV","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."

In [70]:
# First let us define some views
data_log.createOrReplaceTempView("t_log")
data_song.createOrReplaceTempView("t_song")
df_time.createOrReplaceTempView("t_time")

df_song_play = spark.sql("select t_time.start_time, t_log.userId, t_log.level, \
                          t_song.song_id, t_song.artist_id, t_log.sessionId, \
                          t_log.location, t_log.userAgent \
                          from t_log  \
                          inner join t_song \
                          on t_log.song=t_song.title \
                          inner join t_time \
                          on t_time.ts = t_log.ts \
                          where t_log.artist = t_song.artist_name \
                          and song_id is not null \
                          ")
df_song_play.limit(2).toPandas()

,start_time,userId,level,song_id,artist_id,sessionId,location,userAgent
0,2018-11-21 21:56:47,15,paid,SOZCTXZ12AB0182364,AR5KOSW1187FB35FF4,818,"Chicago-Naperville-Elgin, IL-IN-WI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."

In [72]:
df_song_play.write.mode("overwrite").parquet("data/output.parquet")

In [77]:
df = spark.read.parquet('data/time_parquet.parquet')
df.toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,...,ts,userAgent,userId,start_time,hour,day,week,month,year,weekday
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:30:26,6,15,46,11,2018,5
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:41:21,6,15,46,11,2018,5
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 00:45:41,6,15,46,11,2018,5
3,Sony Wonder,Logged In,Samuel,M,0,Gonzalez,218.06975,free,"Houston-The Woodlands-Sugar Land, TX",PUT,...,1542253449796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",61,2018-11-15 03:44:09,9,15,46,11,2018,5
4,Van Halen,Logged In,Tegan,F,2,Levine,289.38404,paid,"Portland-South Portland, ME",PUT,...,1542260935796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 05:48:55,11,15,46,11,2018,5
5,Magic Sam,Logged In,Tegan,F,3,Levine,132.04853,paid,"Portland-South Portland, ME",PUT,...,1542261224796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 05:53:44,11,15,46,11,2018,5
6,Edward Sharpe & The Magnetic Zeros,Logged In,Tegan,F,4,Levine,306.31138,paid,"Portland-South Portland, ME",PUT,...,1542261356796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 05:55:56,11,15,46,11,2018,5
7,Usher featuring will.i.am,Logged In,Tegan,F,5,Levine,395.72853,paid,"Portland-South Portland, ME",PUT,...,1542261662796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 06:01:02,11,15,46,11,2018,5
8,Helen Reddy,Logged In,Tegan,F,7,Levine,176.50893,paid,"Portland-South Portland, ME",PUT,...,1542262057796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 06:07:37,11,15,46,11,2018,5
9,Taylor Swift,Logged In,Tegan,F,8,Levine,201.06404,paid,"Portland-South Portland, ME",PUT,...,1542262233796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 06:10:33,11,15,46,11,2018,5
10,Sean Paul,Logged In,Tegan,F,9,Levine,245.34159,paid,"Portland-South Portland, ME",PUT,...,1542262434796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 06:13:54,11,15,46,11,2018,5
11,Soundgarden,Logged In,Lily,F,0,Koch,272.19546,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,...,1542262456796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",15,2018-11-15 06:14:16,11,15,46,11,2018,5
12,The Killers,Logged In,Tegan,F,10,Levine,360.75057,paid,"Portland-South Portland, ME",PUT,...,1542262679796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 06:17:59,11,15,46,11,2018,5
13,Amy Winehouse,Logged In,Lily,F,1,Koch,165.11955,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,...,1542262728796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",15,2018-11-15 06:18:48,11,15,46,11,2018,5
14,Steve Anderson,Logged In,Lily,F,2,Koch,265.06404,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,...,1542262893796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",15,2018-11-15 06:21:33,11,15,46,11,2018,5
15,Rob Zombie,Logged In,Lily,F,3,Koch,220.13342,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,...,1542263158796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",15,2018-11-15 06:25:58,11,15,46,11,2018,5
16,Deadmau5 & Kaskade,Logged In,Lily,F,4,Koch,595.56526,paid,"Chicago-Naperville-Elgin, IL-IN-WI",PUT,...,1542263378796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",15,2018-11-15 06:29:38,11,15,46,11,2018,5
17,Shania Twain,Logged In,Ryan,M,0,Smith,213.70730,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1542265716796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 07:08:36,12,15,46,11,2018,5
18,Los Campesinos,Logged In,Ryan,M,1,Smith,138.10893,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1542265929796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-15 07:12:09,12,15,46,11,2018,5
19,Ill Nino,Logged In,Chloe,F,1,Cuevas,188.91710,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542266927796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:28:47,12,15,46,11,2018,5
20,Mia X,Logged In,Chloe,F,2,Cuevas,236.09424,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542267115796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:31:55,13,15,46,11,2018,5
21,Rage Against The Machine,Logged In,Chloe,F,3,Cuevas,314.40934,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542267351796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:35:51,13,15,46,11,2018,5
22,Asia 2001,Logged In,Chloe,F,4,Cuevas,150.30812,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542267665796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:41:05,13,15,46,11,2018,5
23,Muse,Logged In,Chloe,F,5,Cuevas,228.93669,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542267815796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:43:35,13,15,46,11,2018,5
24,Rise Against,Logged In,Chloe,F,6,Cuevas,221.17832,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542268043796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:47:23,13,15,46,11,2018,5
25,Modest Mouse,Logged In,Mohammad,M,3,Rodriguez,259.47383,free,"Sacramento--Roseville--Arden-Arcade, CA",PUT,...,1542268205796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88,2018-11-15 07:50:05,13,15,46,11,2018,5
26,Marc Anthony,Logged In,Chloe,F,7,Cuevas,314.43546,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542268264796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:51:04,13,15,46,11,2018,5
27,Regina Spektor,Logged In,Chloe,F,8,Cuevas,191.08526,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1542268578796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-15 07:56:18,13,15,46,11,2018,5
28,Nina Sky,Logged In,Tegan,F,0,Levine,101.92934,paid,"Portland-South Portland, ME",PUT,...,1542274783796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-15 09:39:43,15,15,46,11,2018,5
29,Five Iron Frenzy,Logged In,Avery,F,0,Watkins,236.09424,paid,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1542275422796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,30,2018-11-15 09:50:22,15,15,46,11,2018,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6790,Jason Mraz & Colbie Caillat,Logged In,Chloe,F,0,Roth,189.62240,free,"Indianapolis-Carmel-Anderson, IN",PUT,...,1543135208796,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,78,2018-11-25 08:40:08,14,25,47,11,2018,1
6791,R. Kelly,Logged In,Anabelle,F,1,Simpson,234.39628,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,...,1543145305796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69,2018-11-25 11:28:25,16,25,47,11,2018,1
6792,Jacky Terrasson,Logged In,Marina,F,0,Sutton,342.75220,free,"Salinas, CA",PUT,...,1543154200796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",48,2018-11-25 13:56:40,19,25,47,11,2018,1
6793,Papa Roach,Logged In,Theodore,M,0,Harris,202.18730,free,"Red Bluff, CA",PUT,...,1543155228796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,14,2018-11-25 14:13:48,19,25,47,11,2018,1
6794,Burt Bacharach,Logged In,Theodore,M,1,Harris,156.96934,free,"Red Bluff, CA",PUT,...,1543155430796,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,14,2018-11-25 14:17:10,19,25,47,11,2018,1
6795,Floetry,Logged In,Chloe,F,1,Cuevas,254.48444,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1543161985796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-25 16:06:25,21,25,47,11,2018,1
6796,The Rakes,Logged In,Chloe,F,2,Cuevas,225.22730,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1543162239796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-25 16:10:39,21,25,47,11,2018,1
6797,Dwight Yoakam,Logged In,Chloe,F,3,Cuevas,239.30730,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1543162464796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-25 16:14:24,21,25,47,11,2018,1
6798,Ween,Logged In,Chloe,F,4,Cuevas,228.10077,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1543162703796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-25 16:18:23,21,25,47,11,2018,1
6799,Caf√É¬É√Ç¬© Quijano,Logged In,Chloe,F,5,Cuevas,197.32853,paid,"San Francisco-Oakland-Hayward, CA",PUT,...,1543162931796,Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...,49,2018-11-25 16:22:11,21,25,47,11,2018,1
6800,Parov Stelar,Logged In,Chloe,F,1,Roth,203.65016,free,"Indianapolis-Carmel-Anderson, IN",PUT,...,1543166945796,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,78,2018-11-25 17:29:05,22,25,47,11,2018,1
6801,Bryan Adams,Logged In,Tegan,F,1,Levine,166.29506,paid,"Portland-South Portland, ME",PUT,...,1543170092796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-25 18:21:32,23,25,47,11,2018,1
6802,KT Tunstall,Logged In,Tegan,F,2,Levine,192.31302,paid,"Portland-South Portland, ME",PUT,...,1543170258796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-25 18:24:18,23,25,47,11,2018,1
6803,Technicolour,Logged In,Tegan,F,3,Levine,235.12771,paid,"Portland-South Portland, ME",PUT,...,1543170450796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-25 18:27:30,23,25,47,11,2018,1
6804,The Dears,Logged In,Tegan,F,4,Levine,289.95873,paid,"Portland-South Portland, ME",PUT,...,1543170685796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-25 18:31:25,0,26,48,11,2018,2
6805,Go West,Logged In,Tegan,F,5,Levine,259.49995,paid,"Portland-South Portland, ME",PUT,...,1543170974796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80,2018-11-25 18:36:14,0,26,48,11,2018,2
6806,Gondwana,Logged In,Jordan,F,0,Hicks,262.58240,free,"Salinas, CA",PUT,...,1543189690796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",37,2018-11-25 23:48:10,5,26,48,11,2018,2
6807,Ella Fitzgerald,Logged In,Jordan,F,1,Hicks,427.15383,free,"Salinas, CA",PUT,...,1543189952796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",37,2018-11-25 23:52:32,5,26,48,11,2018,2
6808,Creedence Clearwater Revival,Logged In,Jordan,F,2,Hicks,184.73751,free,"Salinas, CA",PUT,...,1543190379796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",37,2018-11-25 23:59:39,5,26,48,11,2018,2
6809,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:01:46,2,2,44,11,2018,6
6810,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:05:52,2,2,44,11,2018,6
6811,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:08:16,2,2,44,11,2018,6
6812,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:11:13,2,2,44,11,2018,6
6813,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:17:33,2,2,44,11,2018,6
6814,Blue October / Imogen Heap,Logged In,Kaylee,F,7,Summers,241.39710,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541107493796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:24:53,2,2,44,11,2018,6
6815,Girl Talk,Logged In,Kaylee,F,8,Summers,160.15628,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,...,1541107734796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8,2018-11-01 21:28:54,2,2,44,11,2018,6
6816,Black Eyed Peas,Logged In,Sylvie,F,0,Cruz,214.93506,free,"Washington-Arlington-Alexandria, DC-VA-MD-WV",PUT,...,1541108520796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",10,2018-11-01 21:42:00,3,2,44,11,2018,6
6817,Fall Out Boy,Logged In,Ryan,M,1,Smith,200.72444,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1541109125796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-01 21:52:05,3,2,44,11,2018,6
6818,M.I.A.,Logged In,Ryan,M,2,Smith,233.71710,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,...,1541109325796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26,2018-11-01 21:55:25,3,2,44,11,2018,6
6819,Survivor,Logged In,Jayden,M,0,Fox,245.36771,free,"New Orleans-Metairie, LA",PUT,...,1541110994796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101,2018-11-01 22:23:14,3,2,44,11,2018,6